<div class="container">
  <div class="diagram">
    <svg viewBox="0 0 200 200">
      <circle
        cx="100"
        cy="100"
        [attr.r]="radius()"
        fill="none"
        [attr.stroke]="inactiveColor()"
        [attr.stroke-width]="strokeWidth()"
      ></circle>
      @for (segment of segments(); track segment.index) {
        <circle
          class="segment"
          cx="100"
          cy="100"
          [attr.r]="radius()"
          [attr.stroke-width]="strokeWidth()"
          fill="none"
          [attr.stroke]="segment.color"
          [attr.stroke-dasharray]="segment.dasharray"
          stroke-dashoffset="0"
          transform="rotate(-90 100 100)"
        ></circle>
      }
    </svg>
  </div>
  <div class="legend">
    @for (segment of segments(); track segment.index) {
      <div class="legend-item">
        <div class="legend-color" [style.background-color]="segment.color"></div>
        <div class="legend-label">{{ segment.label }}</div>
      </div>
    }
  </div>
</div>
