@use "../../styles/sizes";

:host {
  container-name: page-footer;
  container-type: inline-size;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 1rem;
  color: var(--color-highlight-text);
  background-color: var(--color-highlight);
}

@container page-footer (width >= 840px) {
  .footer {
    grid-template-columns: 3fr 2fr 4fr;
  }
}
