@import "../../styles/sizes";

:host {
  --navigation-full-width: 10rem;
  --navigation-small-width: 3.5rem;

  display: block;
  overflow: hidden;
  padding: 0;
  width: 0;
  color: var(--color-highlight-text);
  background-color: var(--color-highlight);
  transition: width 0.3s;

  .naventry {
    visibility: hidden;
  }
}

:host.open {
  padding: 0.5rem 1rem;
  width: var(--navigation-full-width);

  .naventry {
    visibility: visible;
  }
}

@media screen and (width > $mobile-max-width) {
  :host {
    padding: 0.5rem 1rem;
    width: var(--navigation-full-width);

    .naventry {
      visibility: visible;
    }
  }

  :host.small {
    width: var(--navigation-small-width);

    .naventry {
      padding-left: 0;
      color: transparent;
    }
  }
}

// :host {
//   --navigation-full-width: 10rem;
//   --navigation-small-width: 3.5rem;

//   display: block;
//   padding: 0.5rem 1rem;
//   // width: var(--navigation-full-width);
//   width: 0;

//   transition: width 0.3s;
// }

// :host.closed {
//   width: var(--navigation-small-width);

//   .naventry {
//     padding-left: 0;
//     color: transparent;
//   }
// }

// :host.visible {
//   width: var(--navigation-full-width);
// }

.header {
  visibility: hidden;
  height: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-highlight-text);
}

@media screen and (width > $mobile-max-width) {
  .header {
    visibility: visible;
    height: auto;
    padding: 1rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
}

// Navigation entry

a.naventry {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.75rem 1.5rem 0.75rem 3.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-highlight-text);
  overflow: hidden;

  transition: background-color 0.3s, color 0.3s padding 0.3s;

  mat-icon {
    position: absolute;
    left: 1rem;
    color: var(--color-highlight-text);
  }
}

a.naventry:hover {
  background-color: rgb(256, 256, 256, 80%);
  color: var(--color-highlight);

  mat-icon {
    color: var(--color-highlight);
  }
}

a.active {
  background-color: var(--color-highlight-text);
  color: var(--color-highlight);

  mat-icon {
    color: var(--color-highlight);
  }
}
