<h4>Soziale Netzwerke</h4>
<ul>
  <li>
    <isb-social-network-icon
      source="assets/icons/instagram.svg#instagram"
      link="https://www.instagram.com/kode_gmbh"
      title="Zur Instagram-Seite der KODE GmbH"
    >
    </isb-social-network-icon>
  </li>
  <li>
    <isb-social-network-icon
      source="assets/icons/xing.svg#xing"
      link="https://www.xing.com/companies/kodegmbh"
      title="Zur Xing-Seite der KODE GmbH"
    >
    </isb-social-network-icon>
  </li>
  <li>
    <isb-social-network-icon
      source="assets/icons/x.svg#x"
      link="https://twitter.com/KODEGmbh"
      title="Zur X-Seite der KODE GmbH"
    >
    </isb-social-network-icon>
  </li>
  <li>
    <isb-social-network-icon
      source="assets/icons/linkedin.svg#linkedin"
      link="https://www.linkedin.com/kode-gmbh"
      title="Zur Linkedin-Seite der KODE GmbH"
    >
    </isb-social-network-icon>
  </li>
  <li>
    <isb-social-network-icon
      source="assets/icons/facebook.svg#facebook"
      link="https://www.facebook.com/kodekonzept"
      title="Zur Facebook-Seite der KODE GmbH"
    >
    </isb-social-network-icon>
  </li>
  <li>
    <isb-social-network-icon
      source="assets/icons/youtube.svg#youtube"
      link="https://www.youtube.com/channel/UCx2bT_PTXZW7nbRiorefz0g"
      title="Zum Youtube-Kanal der KODE GmbH"
    >
    </isb-social-network-icon>
  </li>
</ul>
