:root {
  --color-highlight: hwb(261 0% 60%);
  --color-highlight-text: hsl(0, 0%, 100%);
  --color-content-background: hsl(0, 0%, 98%);
  --color-error: hsl(0, 100%, 90%);
  --color-warning: hsl(50, 100%, 90%);
  --color-inactive: hsl(0, 0%, 90%);
}
