:host {
  display: grid;
  position: relative;
  gap: 1rem;
  padding: 2rem 0;
}

div {
  margin-left: 2rem;
}

.full-logo {
  width: 8rem;
}

span {
  position: absolute;
  left: 0;
  font-weight: bold;
}
