:host {
  display: block;
}

.container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-header {
  position: relative;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  cursor: pointer;

  .arrow {
    position: absolute;
    right: 0.5rem;
  }
}

isb-program-list-entry {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: padding 0.5s;
}

isb-program-list-entry:hover {
  border: 1px solid #240066;
}

.drop-down-item {
  height: 0;
  overflow: hidden;
  border-bottom: none;
  transition: height 0.5s;

  isb-program-list-entry {
    border-bottom: none;
  }
}

.drop-down-item.open {
  height: auto;

  isb-program-list-entry {
    border-bottom: none;
  }
}

isb-program-list-entry:last-child {
  border-bottom: none;
}
