<div class="container">
  <div class="list-header" (click)="toggleOpen()">
    <span>Bitte wähle ein Programm aus</span>
    <span class="arrow material-symbols-rounded">
      {{ isOpen() ? "arrow_drop_up" : "arrow_drop_down" }}
    </span>
  </div>
  @if (programInfos().length === 0) {
    <p>Keine Programme vorhanden</p>
  } @else {
    <isb-program-list-entry
      (click)="toggleOpen()"
      [programInfo]="selectedInfo()"
      [countOfPrograms]="countOfInfos()"
    ></isb-program-list-entry>
    @for (info of programInfos(); track info.name) {
      <div class="drop-down-item" [class.open]="isOpen()">
        <isb-program-list-entry
          (click)="selectInfo(info)"
          [programInfo]="info"
        ></isb-program-list-entry>
      </div>
    }
  }
</div>
